{% extends "base.html" %} {% block content %}



<head>
    <link rel="stylesheet" href="../static/consultarProductos.css">
</head>
<div class="cabecera">
    <form action="/consultProductos" method="POST" class="form-inline my-2 my-lg-0">
        <div class="sub">
            <div class="form-inline my-2 my-lg-0"> 
                <label>Buscar</label>
                <input class="form-control mr-sm-2" type="search" name="buscador" placeholder="" aria-label="Search">

            </div>
        </div>
        <br></br>
        <input type="radio" id="male" name="opcion" value="cod_producto">
        <label for="male">ID producto </label><br>
        <input type="radio" id="female" name="opcion" value="cod_usuario">
        <label for="female">ID cliente</label><br>
        <input type="radio" id="female" name="opcion" value="descripcion">
        <label for="female">Nombre del producto </label><br>
        <input type="radio" id="female" name="opcion" value="marca">
        <label for="female">Marca </label><br>

        <div class="sub1">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Categoria</label>
                <select class="form-control" id="exampleFormControlSelect1" name="select">
            <option value="1" > 1</option> 
            <option value="2" > 2</option>
            <option value="3" > 3</option>
        </select>
            </div>
        </div>
        <input type="submit" class="btn btn-secondary" class="fadeIn fourth" value="Buscar">

    </form>

</div>
<div class="content-table">
    <h3> Productos </h3>
    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr>
                <th scope="col">COD PRODUCTO</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">PRECIO</th>
                <th scope="col">PESO</th>
                <th scope="col">MARCA</th>
                <th scope="col">OPCION</th>
            </tr>
        </thead>
        <tbody>
            {% for dato_producto in listado %}
            <tr>
                <td scope="col"> {{ dato_producto.2 }} </td>
                <td scope="col"> {{ dato_producto.3 }} </td>
                <td scope="col"> {{ dato_producto.4 }} </td>
                <td scope="col"> {{ dato_producto.5 }} </td>
                <td scope="col"> {{ dato_producto.6 }} </td>


                <td class="opciones">
                    {% if session['rol'] == 1 %} <!-- Cliente -->
                    <a href="/updateProducto/{{dato_producto.2}}" class="btn_editar"> Agregar al carrito</a>
                    <a href="" class="btn_detalle">  Detalle </a>
                    

                    {% elif session['rol'] == 2 %} <!-- Vendedor-->
                    <a href="/updateProducto/{{dato_producto.2}}" class="btn_editar"> Editar</a>
                    <a href="" class="btn_detalle">  Anular </a>
                    <a href="" class="btn_detalle">  Detalle </a>
                    {% endif %}
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>



{% endblock %}