{% extends "base.html" %} {% block content %}



<head>
    <link rel="stylesheet" href="../static/consultarProductos.css">
</head>
<div class="cabecera">

    {{session['rol']}}

    {% with mensaje=get_flashed_messages() %}
            {% if mensaje %} 
            {% for msj in mensaje %}
                <p>  {{msj}}</p>
                 
            {% endfor %}
            {% endif %}
            {% endwith %}


    <form action="/consultProductos/" method="POST" class="form-inline my-2 my-lg-0">
        <div class="sub">
            <div class="form-inline my-2 my-lg-0"> 
                <label>Buscar</label>
                <input class="form-control mr-sm-2" type="search" name="buscador" placeholder="" aria-label="Search">

            </div>
        </div>
        <br></br>
 
        <div class="sub1">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Buscar por </label>
            <select class="form-control" id="exampleFormControlSelect1" name="selectSearch">
            <option value="cod_producto" > ID producto</option> 
            <option value="cod_usuario" > ID cliente</option>
            <option value="descripcion" > Nombre del producto</option>
            <option value="marca" > Marca</option>
            </select>
            </div>
        </div>


        <div class="sub1">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1" name="selectCategory">
            <option value="1" > 1</option> 
            <option value="2" > 2</option>
            <option value="3" > 3</option>
            </select>
            </div>
        </div>
        <input type="submit" class="btn btn-secondary" class="fadeIn fourth" name="btn-submit" value="buscar">

    </form>

</div>
<div class="content-table">
    <h3> Productos </h3>
    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr>
                <th scope="col">COD PRODUCTO</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">PRECIO</th>
                <th scope="col">PESO</th>
                <th scope="col">MARCA</th>
                {% if session['rol'] == "1" %} <!-- Cliente -->
                <th scope="col">CANTIDAD</th>
                {% endif %}
                <th scope="col">OPCION</th>
            </tr>
        </thead>
        <tbody>
            {% for dato_producto in listado %}
            <tr>
                <td scope="col"> {{ dato_producto.2 }} </td>
                <td scope="col"> {{ dato_producto.3 }} </td>
                <td scope="col"> {{ dato_producto.4 }} </td>
                <td scope="col"> {{ dato_producto.5 }} </td>
                <td scope="col"> {{ dato_producto.6 }} </td>
                <form action="/consultProductos/" method="GET"> 
                {% if session['rol'] =="1" %} <!-- Cliente Cantidad -->
                <td class="opciones">
                <input class="form-control mr-sm-2" type="search" name="cantidad_producto" placeholder="" aria-label="Search">
                </td>
                {% endif %}
                <td class="opciones">
                    {% if session['rol'] =="1" %} <!-- Cliente -->
                    <input  type="hidden" name="id_vendor" value="{{dato_producto.0}}">
                    <input  type="hidden" name="id_pro" value="{{dato_producto.2}}">
                    <button type="submit"  name="btn-submit" value="agregar-carrito" class="btn btn-success"> Agregar </button>
                    </form>

                    {% elif session['rol'] == "2" %} <!-- Vendedor-->
                    <a href="/updateProducto/{{dato_producto.2}}" class="btn_editar"> Editar</a>
                    <a href="" class="btn_detalle">  Anular </a>
                    <a href="" class="btn_detalle">  Detalle </a>
                    {% endif %}
                </td>
              

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>



{% endblock %}