<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../static/login.css">

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
        
            {% with mensaje=get_flashed_messages() %}
            {% if mensaje %} 
            {% for msj in mensaje %}
                <p>  {{msj}}</p>
                 
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>

        <!-- Login Form -->
        <form action="/registrarUsuario" method="POST">

            <label for="">{{mensaje}}</label>
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="cod_usuario" placeholder="Nombre de usuario">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="nombre" placeholder="Nombre personal">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="cedula" placeholder="cedula">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="correo" placeholder="Correo">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="pass1" placeholder="contraseña">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="movil" placeholder="Movil">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="direccion" placeholder="direccion">
            <input type="text" id="login" minlength="5" maxlength="29" class="fadeIn second" name="eps" placeholder="eps">
            <div id="wrapper fadeInDown">

            <label> Tipo de usuario</label>
            <select class="custom-select custom-select-lg mb-3" name="selectTipo" >   
                <option value="1" > CLIENTE</option> 
                <option value="2" > VENDEDOR</option>
                <option value="3" > DOMICILIARIO</option>
            </select>
            </div>
            <input type="submit" class="fadeIn fourth" value="Volver">
            <input type="submit" class="fadeIn fourth" value="Registrarse">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
        </div>

    </div>
</div>