<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../static/login.css">

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
        </div>

        <!-- Login Form -->
        <form action="/" method="POST">
            <input type="text" id="login" class="fadeIn second" name="nombre" placeholder="Nombre">
            <input type="text" id="login" class="fadeIn second" name="apellido" placeholder="Apellidos">
            <input type="text" id="login" class="fadeIn second" name="correo" placeholder="Correo">
            <input type="text" id="login" class="fadeIn second" name="movil" placeholder="Movil">
            <input type="text" id="login" class="fadeIn second" name="direccion" placeholder="direccion">
            <input type="text" id="login" class="fadeIn second" name="barrio" placeholder="Barrio">
            <input type="text" id="login" class="fadeIn second" name="telefono" placeholder="Telefono">

            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
        </div>

    </div>
</div>