{% extends "base.html" %}

{% block content %}

{{ides}}
<form>
<input class="form-control mr-sm-2" type="search" name="cod_producto" placeholder="codigo producto" aria-label="Search">
<input class="form-control mr-sm-2" type="search" name="precio" placeholder="precio" aria-label="Search">
<input class="form-control mr-sm-2" type="search" name="marca" placeholder="marca" aria-label="Search">
<input class="form-control mr-sm-2" type="search" name="" placeholder="Barra de busquedad" aria-label="Search">
<input type="submit" class="btn btn-secondary" class="fadeIn fourth" value="Buscar">

</form>

{% endblock %}